* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(41, 37, 43);
    background-image: url();
}

.criador{
  position: fixed;
  z-index: 8;
  color: white;
  top: 97%;
  left: 5px;
}

/*NAV BAR*/

#toggleNavbarButton{
  z-index: 6;
  position: fixed;
  padding: 15px;
  padding-right: 18px;
  padding-left: 18px;
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(60, 42, 66);
  border: none;
  color: white;
  border-radius: 10%;
  cursor: pointer;
  transition: 0.3s;
  
}

#toggleNavbarButton:hover{
  background-color:#1d1f20;
  transition: 0.3s;
}

#toggleNavbarButton:active{
  transform: scale(0.8);
}

.navbar {
    margin-top: 80px ;
    position: fixed;
    width: 20%;
    z-index: 7;
    background-color: rgb(60, 42, 66);
    padding: 5px;
    height: 80%;
    border-radius: 0px 20px 20px 0px;
    transition: all 0.5s ;
    transform: translate(-100%);
  }

.navbar.hidden{
  transform: translateX(0%);
  transition: 0.3s;
}  
  
  .navbar ul {
    list-style: none;
    display: inline;
    width: 710px;
    padding: 10px;
  }
  
  .navbar li {
    height: 50px;
    flex: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    
  }
  
  .navbar a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    transition: 0.2s;
    font-size: 20px;
  }
  
  .navbar a:hover {
    color: #d39eda;
    transition: 0.3s;
    border-radius: 10px;
    background-color: #1d1f20;
    
  }

 /*SLIDE SHOW*/ 

.slideshow-container {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .slide.fade {
    opacity: 1;
  }

  .slideshow-container img{
      width: 100%;
      margin-top: -100px;
      
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }

  /*Página incicial*/

  .logo{
    z-index: 5;
    width: 30%;
    float: right;
    padding-right: 150px;
    padding-top: 90px;
    position: relative;
    
  }

  .titulo_brawlsky{
    padding: 200px;
    padding-top: 15%;
    position: relative;

  }

  .br{
    color: rgb(130, 115, 172);
  }

  h1{
    color: white;
    font-family: roboto;
    font-size: 130px;
    position: relative;
    right: 50px;
  }

  h2{
    color: rgb(130, 115, 172);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    position: relative;
    height: 70px;
    right: 50px;
  }

  /*Noticias e novidades*/

  .novidades{
    background-color: rgb(90, 78, 122);
    position: relative;
    width: 100%;
    height: 700px;
    justify-content: center;
    position: relative;
    display:inline-block;
    
  }

  .noticias_total{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
  }

  .noticias_pagina{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
  }

  .noticias_titulo{
    width: 100%;
    position: relative;
    height: 100px;
  }

  #noticias_titulo{
    color: white;
    font-size: 30px;
    font-family: roboto;
    padding-top: 40px;
    display: flex;
    width: 99%;
    justify-content: center;
    position: relative;
    left: 5px;
    transition: 0.5s;
  }

  #noticias_titulo:hover{
    transform: rotate(2deg);
    transition: 0.5s;
    letter-spacing: 1px;
  }

  .noticias{
    background-color: white;
    width: 25%;
    transition: 0.3s;
    padding: 10px;
    margin-top: 50px;
    border-radius: 20px;
    
  }

  .noticias img{
    padding-top: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    
  }

  #h1_noticias{
    text-align: center;
    font-family: roboto;
    font-size: 20px;
    left: 5px;
    margin: 25px;
    color: rgb(60, 42, 66);
    
    
  }

  #p_noticias{
    color: rgb(60, 42, 66);
    font-family: roboto;
    padding: 10px;
    font-size: 15px;
  }

  .botões_sociais{
    position: relative;
    z-index: 8;
    left: 85%;
    top: 20px;
    width: 150px;
  }

  .botoes{
    display: inline-block;
  }

  .botoes button{
    cursor: pointer;
    background-color: rgb(130, 115, 172);
    border: none;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
  }

  .botoes button:hover{
    background-color: #1d1f20;
    transition: 0.5s;
  }

  .botoes img{
    width: 30px;
  }




  /*historias*/

  .historias_legends{
    
    width: 100%;
    display: block;
    position: relative;
    padding-bottom: 20px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    list-style: none;

  }

  #img_historias{
    padding-top: 20px;
    width: 150px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-radius: 100px;
    transition: 0.5s;
  }

  #img_historias:hover{
    background-color: rgb(130, 115, 172);
    transition: 0.5s;
  }

  #historias_h1{
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    left: 5px;
    width: 99%;
  }

  #historias_p{
    position: relative;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 5px;
    margin: 15px;
    color: rgb(255, 255, 255);
    
  }

  .historias_legends a{
    text-align: center;
    position: relative;
    background-color: rgb(130, 115, 172);
    padding: 15px;
    border-radius: 20px;
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    font-family: roboto;

  }

  .historias_legends a:hover{
    background-color: rgb(15, 15, 15);
    transition: 0.5s;
  }

 /*Lendas*/ 
  
  .product-container {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 100px;
  margin: auto;
  }
  
  .product {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 30%;
    width: 150px;
    background-color: white;
    transition: 0.3s;
    border: solid white;
    height: 260px;
  }

  .product:hover {
    letter-spacing: 0.2ch;
    border-radius: 40px;
  }
  
  .product img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 50%;
    transition: 0.5s;
  }
  
  .product h1 {
    position: relative;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    color: rgb(130, 115, 172);
    left: 0;

  }
  
  .product a {
    background-color: rgb(90, 78, 122);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 100px;
    transition: 0.1s;
    margin-top: 10px;
  }


  .product a:hover {
    background-color: rgb(252, 252, 252);
    border: solid rgb(130, 115, 172);
    transition: 0.1s;
    color: black;
    transform: rotate(2deg)
  }

  .product:hover img{
    border-radius: 10px;
    background-color: rgb(130, 115, 172);
  }


 

  

  /*HISTORIAS LEGENDS DESIGN*/


  .legend_img img{
    width: 32%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;

  }

  #historia_h1{
    text-align: center;
    font-family: roboto;
    font-size: 100px;
    margin-bottom: 50px;
    left: 5px;
    width: 99%;
  }

  #historia_p{
    padding-top: 10px;
    text-align: center;
    display: block;
    position: relative;
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    margin-bottom: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    

  }

  #voltar_lendas_btn{
    z-index: 6;
  position: fixed;
  padding: 15px;
  padding-right: 18px;
  padding-left: 18px;
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(130, 115, 172);
  border: none;
  color: white;
  border-radius: 10%;
  cursor: pointer;
  transition: 0.3s;
  }

  #voltar_lendas_btn:hover{
    background-color: #1d1f20;
  }

  #voltar_lendas_btn button{
    background: none;
    border: none;
    color: white;
    font-family: roboto;
    cursor: pointer;
  }
  
/*barra de pesquisa*/
  .search-bar {
    display: flex;
    margin-bottom: -34px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    position: relative;
  }
  
  .search-bar input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px 0 0 4px;
    flex-grow: 1;
    border-radius: 20px;
    
  }

  .search-bar input::placeholder{
    padding-left: 10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(130, 115, 172);

  }

  .armas_conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
    margin: auto;
    padding-bottom: 40px;
    transition: 0.3s;
    
  }

  .armas{
    transition: 0.5s;
    padding: 10px;
    border-radius: 40px;
  }

  .armas:hover #titulo_armas{
    letter-spacing: 2px;
    transition: 0.3s;
  }

  .armas:hover img{
    transform: scale(0.9);
    transition: 0.3s;
  }

  .armas img{
    transition: 0.3s;
  }

  .armas:hover{
     background-color: rgb(91, 91, 136);
     border-radius: 20px;
     transition: 0.3s;
  }

  #titulo_armas{
    font-size: 28px;
    left: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    padding-bottom: 10px;
  }

 

  
  
 
  
 
  