* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #29252b;
    background-image: url();
    overflow-x: hidden;
}

/*TELA DE CARREGAMENTO*/

.carregamento{
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #29252b;
  opacity: 100;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  overflow-x: hidden;
}

.c-loader{
  animation: rodando 1s infinite;
  border: 6px solid white;
  border-top-color: #8273ac;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  

}

@keyframes rodando {
  to{
    transform: rotate(1turn);
  }
  
}

/**/

.criador{
  position: fixed;
  z-index: 8;
  color: white;
  top: 97%;
  left: 5px;
  opacity: 0%;
}

/*NAV BAR*/

#toggleNavbarButton{
  z-index: 10;
  position: fixed;
  padding: 15px;
  padding-right: 18px;
  padding-left: 18px;
  margin: 10px;
  margin-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #29252b;
  border: solid #29252b 2px;
  color: white;
  border-radius: 10%;
  cursor: pointer;
  transition: 0.3s;
}


#toggleNavbarButton:active{
  transform: scale(0.8);
}

.navbar {
    border: solid #8273ac 1px;
    position: fixed;
    display: flex;
    width: 20%;
    z-index: 8;
    background-color: #29252b;
    padding: 20px;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    transition: all 0.5s ;
    transform: translate(-100%);
    box-shadow: black 10px 0px 20px -15px;
  }

.navbar.hidden{
  transform: translateX(0%);
  transition: 0.3s;
}  
  
  .navbar ul {
    list-style: none;
    display: inline;
    width: 710px;
    padding: 10px;
    margin-top: 10px;
    
  }
  
  .navbar li {
    height: 38px;
    flex: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-align: center;
    
  }

  .navbar li h1{
    color: #8273ac;
    padding-top: 5px;
  }
  
  .navbar a {
    display: block;
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
    transition: 0.2s;
    font-size: 20px;
  }
  
  .navbar a:hover {
    color:rgb(151, 132, 204);
    transition: 0.2s;
    border-radius: 10px;
    background-color: #22222200;
    
    
  }

  /*Página incicial*/

  .conteiner_banner_brawlsky{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("Imagens/banner_brawlsky.png");
    background-size: 130%;
    background-repeat: no-repeat;
  }

  .banner_brawlsky{
    padding-top: 210px;
  }

  .banner_brawlsky h1{
    color:#ffffff;
    font-size: 110px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  

  .banner_brawlsky h2{
    color:rgb(204, 182, 255);
    font-size: 25px;
    letter-spacing: 5px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  
  

  

  /*.img_banner{
    position: absolute;
    pointer-events: none;
    z-index: 1;
    margin-top: 100px ;
    width: 100%;
    padding: 0;
  }

  .img_banner img{
    padding: 0;
    z-index: 1;
    opacity: 100%;
  }

  .logo_conteiner{
    position: relative;
    justify-content: center;
    z-index: 5;
    width: 100%;
    padding-top: 0%;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    display: flex;
    opacity: 80%;
    background: rgb(131,58,180);
    background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(78,40,98,1) 50%, rgba(41,37,43,1) 100%);
    
    
  }

 
  .logo_conteiner img{
    animation: logo_animação 3s infinite;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
    padding: 0;
    margin-top: 0%; 
    padding-top: 80px;
    transition: 0.5s;
  }

  @keyframes logo_animação {
    
    50%{
      transform: scale(0.8);
    }

    100%{
      transform: scale(1.0);
    }
  }

  .logo{
    width: 400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .titulo_brawlsky{
    padding: 200px;
    padding-top: 0px;
    position: relative;
    z-index: 5;
    

  }

  */


  .botões_sociais{
    position: absolute;
    z-index: 8;
    left: 85%;
    top: 20px;
    width: 150px;
  }

  .botoes{
    display: inline-block;
  }

  .botoes button{
    cursor: pointer;
    background-color: rgba(130, 115, 172, 0);
    border: none;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
  }

  .botoes button:hover{
    background-color: #8273ac;
    transition: 0.5s;
  }

  .botoes img{
    width: 30px;
  }


  /*historias*/

  .historias_legends{
    width: 100%;
    display: block;
    position: relative;
    padding-bottom: 20px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding-top: 0px;
    padding-bottom: 50px;
    margin-bottom: 20%;
    list-style: none;
    overflow-x: hidden;
  }

  #img_historias{
    width: 400px;
    margin-top: 2%;
    z-index: 6;
    margin-right: 10%;
    border-radius: 100px;
    transition: 0.5s;
    position: relative;
    float: right;
    overflow-x: hidden;
  }

  #historias_h1{
    font-size: 50px;
    margin-top: 0%;
    margin-left: 10%;
    padding-top: 80px;
    width: 50%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
  }

  #historias_p{
    position: relative;
    margin-left: 10%;
    margin-top: 30px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 40%;
    color: rgb(255, 255, 255);
    overflow-x: hidden;
    
  }

  #historias_menu{
    position: relative;
    margin-left: 10%;
    margin-top: 30px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 40%;
    color: rgb(255, 255, 255);
    overflow-x: hidden;
    
  }

  .historias_legends a{
    text-align: center;
    position: relative;
    background-color: rgb(130, 115, 172);
    padding: 15px;
    border-radius: 10px;
    display: block;
    width: 100px;
    margin-left: 10%;
    margin-top: 2%;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
  }

  .historias_legends a:hover{
    background-color: #8273ac73;
    transition: 0.3s;
  }

  /*CONHEÇA AS ARMAS*/

  .conheça_armas{
    
    width: 100%;
    display: block;
    position: relative;
    padding-bottom: 20px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 20%;
    list-style: none;
    
  }

  #img_armas{
    padding-top: 20px;
    width: 350px;
    margin-top: -10%;
    float: left;
    z-index: 2;
    margin-left: 10%;
    border-radius: 100px;
    transition: 0.5s;
    position: relative;
    padding-right: 12%;
    
  }

  #armas_h1{
    font-size: 50px;
    margin-top: 10%;
    padding-top: 80px;
    width: 99%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }

  #armas_p{
    position: relative;
    margin-left: 10%;
    margin-top: 30px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 80%;
    color: rgb(255, 255, 255);
    
    
  }

  .conheça_armas a{
    text-align: center;
    position: relative;
    background-color: rgb(130, 115, 172);
    padding: 15px;
    border-radius: 10px;
    display: block;
    width: 100px;
    margin-left: 0%;
    margin-top: 2%;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: left;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

  }

  .conheça_armas a:hover{
    background-color: #8273ac73;
    transition: 0.3s;
  }


  /*Categorias*/

  .conteiner_categorias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 40px;
    margin-bottom: 200px;
    transition: 0.3s;
    width: 100%;
    
    
  }

  .categorias{
    text-align: center;
  }

  .categorias h1{
    color: #ffffff;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .categorias a img{
    width: 350px;
    border-radius: 50%;
  }

  .categorias a:hover{
    opacity: 50%;
    transition: 0.2s;
  }

 /*Lendas*/ 
  
  .product-container {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 100px;
  margin: auto;
  }
  
  .product {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20%;
    width: 150px;
    background-color: white;
    transition: 0.3s;
    height: 260px;
  }

  .product:hover {
    letter-spacing: 0.2ch;
    border-radius: 40px;
  }

  .product img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 50%;
    transition: 0.5s;
  }
  
  .product h1 {
    position: relative;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    color: rgb(130, 115, 172);
    left: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    ;


  }
  
  .product a {
    background-color: rgb(90, 78, 122);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 100px;
    transition: 0.1s;
    margin-top: 10px;
  }


  .product a:hover {
    background-color: rgb(252, 252, 252);
    border: solid rgb(130, 115, 172);
    transition: 0.1s;
    color: black;
    transform: rotate(2deg)
  }

  .product:hover img{
    border-radius: 10px;
    background-color: rgb(130, 115, 172);
    
  }


 

  

  /*HISTORIAS LEGENDS DESIGN*/

  

  .legends_com_essa_arma a img:hover{
    background-color: #8273ac;
    border-radius: 20px;
    transition: 0.3s;
  }

  .legend_img{
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    width: 100%;
    
  }

  .legend_img img{
    width: 300px;
    padding: 20px;
    opacity: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 1%;
    z-index: 1;
  }

  .historias{
    margin-left: auto;
    margin-right: 0;
    position: relative;
    justify-items: center;
    align-items: center;
    display: flex ;

  }


  #historia_h1{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 80px;
    margin-top: 50px;
    margin-bottom: 20px;
    left: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    overflow: hidden;
    
  }

  #historia_p{
    border-radius: 3%;
    padding-top: 10px;
    display: block;
    position: relative;
    color: rgb(255, 255, 255);
    padding: 30px;
    border: 6px dashed rgb(255, 255, 255);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    margin-bottom: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    

  }

  #voltar_lendas_btn{
    z-index: 8;
  position: fixed;
  padding: 15px;
  padding-right: 18px;
  padding-left: 18px;
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: none;
  border: solid white 2px;
  color: white;
  border-radius: 10%;
  cursor: pointer;
  transition: 0.3s;
  }

  #voltar_lendas_btn:hover{
    background-color: #1d1f20;
  }

  #voltar_lendas_btn button{
    background: none;
    border: none;
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
  }
  
/*barra de pesquisa*/
  .search-bar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: -34px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    position: relative;

  }
  
  .search-bar input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px 0 0 4px;
    flex-grow: 1;
    border-radius: 20px;
    
  }

  .search-bar input::placeholder{
    padding-left: 10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(130, 115, 172);

  }

  /*STATUS LEGENDS*/
  
  .valor_legend{
    position: relative;
    display: block;
    background-color: rgb(109, 98, 145);
    margin-top: 80px;
  }

  .valor_legend img{
    width: 30px;
  }

  .valor_legend h1{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    left: 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
  }

  .preço_span{
    color: rgb(255, 224, 48);
  }

  .status_titulo{
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .status_titulo h1{
    font-size: 80px;
    left: 0;
    text-align: center;
  }

  .status_conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    gap: 300px;
    padding-top: 50px;
    margin: auto;
    padding-bottom: 40px;
    transition: 0.5s;
    position: relative;
    width: 80%;
  }

  .status h1{
    font-size: 50px;
    position: relative;
    left: 0;
    text-align: center;
  }

  /*ARMAS*/

  .conteiner_legends_com_essa_arma{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
    margin: auto;
    padding: 100px;
    padding-top: 100px;
    padding-bottom: 40px;
    transition: 0.3s;
    border-radius: 20px;
  }

  .legends_com_essa_arma a img{
    width: 80px;
    height: 80px;
    transition: 0.5s;
    border-radius: 20px;
    
    
  }

  .nomenclaturas_btn{
    background-color: #8273ac;
    width: 200px;
    top: 0;
    right: 0;
    position: fixed;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    z-index: 8;
    transition: 0.3s;
  }

  .nomenclaturas_btn:hover{
    background-color: #242424;
    transition: 0.3s;
  }

  .nomenclaturas_btn:active{
    transform: scale(0.9);
  }

  .nomenclaturas_btn p{
    color: white;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    
  }

  .armas_conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 25vh;
    margin: auto;
    padding-bottom: 40px;
    transition: 0.3s;
    position: relative;
    width: 80%;
  }

  .armas{
    transition: 0.5s;
    padding: 10px;
    border-radius: 40px;
    transition: 0.3s;
  }

  .armas:hover #titulo_armas{
    letter-spacing: 2px;
    transition: 0.3s;
  }

  .armas:hover img{
    transform: scale(1.1);
    transition: 0.3s;
  }

  .armas img{
    transition: 0.3s;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .armas:hover{
     transform: scale(1.1);
     border-radius: 20px;
     transition: 0.3s;
     
     
  }

 
 

  

  #titulo_armas{
    position: relative;
    font-size: 18px;
    left: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    padding-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  
 
  /*DESIGN ARMAS*/
  
  .armas_introdução{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: auto;
    padding-bottom: 40px;
    transition: 0.3s;
    padding-top: 90px ;
    
  }


  .armas_introdução p{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    width: 40%;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
    

  }

  .armas_introdução img{
    width: 200px;
  }

  .texto_armas{
    width: 60%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 80px;
  }

  .texto_armas p{
    color: #cccccc;
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }

  .kits_armas{
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .kits_armas h1{
    left: 0;
    font-size: 55px;
    color: rgb(243, 243, 243);
    background-color: rgb(130, 115, 172);
    padding: 5px;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .kits_armas h1:hover{
    letter-spacing: 5px;
    transition: 0.5s;
  }

  .ataques_conteiner{
    padding-top: 80px;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .ataques_conteiner h1{
    font-size: 35px;
    left: 0;
    margin-left: 60px;
    color: rgb(165, 166, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }

  .ataques_conteiner p{
    left: 0;
    margin-left: 60px;
    padding-top: 50px;
    color: #cccccc;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 40px;
    font-size: 20px;
    width: 70%;
    font-style: italic;
  }


  .ataques_img_gs{
    display: inline;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
    margin: auto;
    padding-bottom: 40px;
    transition: 0.3s;
    border-radius: 20px;
  }

  .ataques_gs{
    border-radius: 20px;
  }
 

  .ataques_gs img{
    padding: 20px;
    padding-top: 100px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    display: block;
   
  } 
  
  .gifs_ataques{
    width: 400px;
    margin-left: 60px;
    padding-bottom: 50px;
  }


  /*Avatares*/

  .avatar_conteiner{
    color: white;
    flex-wrap: wrap;
    padding: 200px;
    padding-top: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
  }

  .avatar_conteiner h1{
    width: 100%;
    color: #8273ac;
    padding-top: 30px;
    font-style: normal;
  }

  .avatar_conteiner h2{
    width: 100%;
    color: #8273ac;
    padding-top: 50px;
    font-style: normal;
  }

  .avatar_conteiner img{
    display:inline;
    width: 5%;
    padding-top: 40px ;
  }

  .todos-avatares-conteiner{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    background-color: #8273ac;
    border-radius: 40px;
    margin-top: 30px;
    padding: 20px;
  }

  .todos-avatares-conteiner img{
    padding-left: 30px;
    padding-right: 30px;
    width: 10%;
  }

  /*MAPAS*/

  .titulo_tipos_mapas{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .mapas_conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
    margin: auto;
    padding: 80px;
    padding-top: 100px;
    padding-bottom: 40px;
    transition: 0.3s;
    border-radius: 20px;
  }

  .mapas_conteiner h1{
    color: white;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }

  /*EFEITOS DE K.O*/

  .conteiner_ko{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
    margin: auto;
    padding: 80px;
    padding-top: 100px;
    padding-bottom: 40px;
    transition: 0.3s;
    border-radius: 20px;
  }

  .efeitos_de_ko{
    border: solid #8273ac 2px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: #000000 0px 1px 15px -5px;
  }

  .efeitos_de_ko img{
    width: 200px;
    height: 200px;
  }

  .efeitos_de_ko h1{
    color: white;
    font-size: 20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
  }

  .efeitos_de_ko h2{
    color: #8273ac;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-align: center;
  }

  /*CORES*/

  #titulo_das_cores{
    text-align: center;
    position: relative;
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 50px;
    overflow-x: hidden;
  }

  #p_das_cores{
    text-align: center;
    position: relative;
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    padding-top: 50px;
    padding: 250px;
    padding-top: 20px;
    padding-bottom: 0px;
    overflow-x: hidden;
  }

  .conteiner_cores{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
    margin: auto;
    padding: 80px;
    padding-top: 100px;
    padding-bottom: 40px;
    transition: 0.3s;
    border-radius: 20px;
    overflow-x: hidden;
  }

  .cores{
    border: solid #8273ac 2px;
    padding: 20px;
    border-radius: 20px;
    overflow-x: hidden;
    
  }

  .cores h1{
    color: #8273ac;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    overflow-x: hidden;
  }

  .cores h2{
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
  }

  .cores img{
    width: 170px;
    overflow-x: hidden;

  }

  .glory{
    width: 10px;
    overflow-x: hidden;
  }

  /*SIDEKICKS*/

  #titulo_dos_sidekicks{
    text-align: center;
    position: relative;
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 50px;
    
  }

  #p_dos_sidekicks{
    text-align: center;
    position: relative;
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    padding-top: 50px;
    padding: 250px;
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .conteiner_sidekicks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
    margin: auto;
    padding: 80px;
    padding-top: 100px;
    padding-bottom: 40px;
    transition: 0.3s;
    border-radius: 20px;
  }

  .sidekicks{
    border: solid #8273ac 2px;
    padding: 20px;
    border-radius: 20px;
    
  }

  .sidekicks h1{
    color: #8273ac;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
  }

  .sidekicks h2{
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
  }

  .sidekicks img{
    width: 170px;
  }



  /*Creditos*/
  
  .creditos_conteiner{
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #121213;
    padding-bottom: 30px;
  }

  .creditos h1{
    text-align: center;
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    padding-top: 100px;
  }

  .creditos h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(255, 255, 255, 0.74);
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    
  }

  .creditos a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 0px;
    color: #8273ac;
  }

  /*DONATE*/

  /*Patch*/

  .patch_conteiner{
    color: white;
    flex-wrap: wrap;
    padding: 200px;
    padding-top: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
  }

  .patch_conteiner h1{
    width: 100%;
    color: #8273ac;
    padding-top: 50px;
    font-style: normal;
  }

  .patch_conteiner img{
    width: 55%;
    padding-top: 40px ;
  }



  /*Nomeclaturas*/

  .nomenclatura_titulo{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    background-color: #8273ac00;
  }

  .nomenclatura_titulo h1{
    color: #8273ac;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .nomenclaturas_conteiner{
    margin-left: auto;
    margin-right: auto;
    color: white;
    flex-wrap: wrap;
    display: flex;
    padding: 50px;
    padding-top: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    width: 40%;
    border: 6px dashed rgb(255, 255, 255);
    border-radius: 30px;
  }

  .nomenclaturas_conteiner h1{
    width: 100%;
    color: #8273ac;
    padding-top: 20px;
    font-style: normal;
    font-size: 25px;
  }

  .nomenclaturas_conteiner img{
    width: 100px;
    padding-top: 40px ;
  }

  #tipos_de_ataques{
    padding-top: 50px;
    font-size: 40px;
    color: #8273ac;
  }

  /*Ranking BRZ*/

.top250{
   margin-left: auto;
   margin-right: auto;
    padding-top: 50px;
 }

 .top250 h1{
   text-align: center;
   color: rgb(167, 153, 206);
   font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 50px;
 }

  table {
    border-collapse:separate;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 80px;
    padding: 10px;
    padding-bottom: 20px;
    z-index: 6;
  }
  
  th, td {
    text-align: left;
    padding: 10px;
    z-index: 6;
  }
  
  th {
    background-color: rgb(57, 46, 87);
    text-align: center;
    color: rgb(206, 196, 235);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    font-size: 15px;
    z-index: 6;
  }
  
  tr{
    background-color: rgb(97, 80, 145);
    color: rgb(255, 255, 255);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: #8273ac solid;
    text-align: center;
    z-index: 6;
    
    
  }

  td{
    
    text-align: center;
    z-index: 6;
  }
  
  .procure_seu_ranking{
    background-color: #8273ac;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    padding-bottom: 10px ;
    padding-top: 10px;
    border-radius: 20px;
    transition: 0.3s;
    
  }

  .procure_seu_ranking a{
    width: 200px;
    text-align: center;
    
  }

  .procure_seu_ranking:hover{
    background-color: #242424;
    transition: 0.3s;
  }

  .procure_seu_ranking:active{
    transform: scale(0.9);
    transition: 0.3s;
  }

  .procure_seu_ranking h1{
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }

  /*VERIFIQUE SEU RANK*/

  .verifique_seu_rank{
    color: rgb(255, 255, 255);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 200px;
    position: relative;
    z-index: 6;
  }
  
  .botão_procurar{
    justify-content: center;
    flex-wrap: flex;
    display: flex;
    padding-top: 10px;
    position: relative;
    z-index: 6;
  }

  #search_btn{
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border: none;
    background-color: #8273ac;
    color: white;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    z-index: 6;
  }

  #search_btn:hover{
    background-color: #1d1f20;
    transition: 0.3s;
  }

  .barra_de_pesquisa{
    justify-content: center;
    flex-wrap: flex;
    display: flex;
    padding-top: 30px;
    position: relative;
    z-index: 6;
  }

  #player-name{
    padding: 20px;
    width: 300px;
    border-radius: 40px;
    border: none;
    position: relative;
    z-index: 6;
    
  }
  



  /* RESPONSIVIDADE */

  @media (max-width: 1200px){

    .navbar{
      width: 90%;
      z-index: 8;
    }

    /*introdução responsividade*/

    .botões_sociais{  
      z-index: 7;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
      width: 100%;
      float: none;
      margin: 0;
      padding: 0;
      left: 0;
      top: 100px;
      margin-right: 10000px;
    }

    .logo_conteiner{
      justify-content: center;
      padding-top: 0px;
      position: relative;
      margin-top: 0px;
      display: flex;
      width: 100%;
      flex-direction: column;
    }

    

    .logo_conteiner img{
    animation: logo_animação 3s infinite;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 0;
    margin-top: 10%; 
    padding-top: 100px;
    transition: 0.5s;
  }

   

    .titulo_brawlsky{
      left: 0;
      margin: 0;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
      display: block;
      position: relative;
      width: 100%;
      justify-content: center;
    }

    .titulo_brawlsky h1{
      font-size: 60px;
      margin: 0;
      padding: 0;
      right: 0;
      position: relative;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      position: relative;
      text-align: center;
    }

    .titulo_brawlsky h2{
      margin: 0;
      padding: 0;
      position: relative;
      width: 100%;
      right: 0;
      margin-top: -5%;
      font-size: 15px;
      text-align: center;
      
      
    }

    /*BANNER BRAWLSKY RESPONSIVIDADE*/

    .conteiner_banner_brawlsky{
      height: 80vh;
      background-size: 300%;
    }
  
    .banner_brawlsky{
      
    }
  
    .banner_brawlsky h1{
      padding-top: 150px;
      font-size: 50px;
      color:#ffffff;
      letter-spacing: 3px;
    }
    
  
    .banner_brawlsky h2{
      font-size: 10px;
      opacity: 0;
    }

    /*noticias inicial responsividade*/

    .novidades{
      position: relative;
      padding: 0;
      padding-bottom: 700px ;
      margin-top: 100px;
      margin-bottom: 0;
      background-color: none;
      background: none;
      justify-items: center;
      flex-wrap: wrap;
      display: flex;
      background-color: rgb(130, 115, 172);
    }

    .noticias_total{
      width: 80%;
      position: relative;
      padding: 0;
      height: 1000px;
    }

    .noticias{
      margin-top: 10px;
      width: 99%;
    }

    .noticias img{
      width: 75%;
    }


    /*Nomenclaturas resposividade*/

    .nomenclaturas_conteiner{
      width: 70%;
    }

    .nomenclatura_titulo h1{
      font-size: 40px;
      color: white;
      padding-top: 80px;
    }

    

   


    /*historias legends responsividade*/

    .historia{
      width: 100%;
    }

    .historia p{
      width: 100%;
      padding: 0;
      margin: 0;
      font-size:15px;
    }
    

    .historias_legends{
      margin-top: 0px;
      position: relative;
      padding: 0;
      padding-top: 0px;
      padding-bottom: 100px;
      justify-content: center;
      display: block;
      flex-wrap: wrap;
      margin-bottom: 0px;
      flex-direction: column;
      
    }

    #historias_h1{
      font-size: 25px;
      margin-top: -10%;
      margin-left: 10%;
      

    }

    #historias_menu{
      font-size: 13px;
      width: 80%;
      
    }

    #historias_p{
      font-size: 13px;
      width: 100%;
      padding: 0;
      margin: 0;

    }

    .legend_img{
      padding-top: 0%;
      width: 100%;
    }

    #historia_h1{
      padding-top: 5%;
      font-size: 60px;
    } 
    
    #img_historias{
      padding-top: 100px;
      width: 200px;
      margin-top: 25%;
      z-index: 2;
      margin-left: 20px;
      position: relative;
      float: none;

    }

    /*CONHEÇA ARMAS RESPONSIVIDADE*/

    .conheça_armas{
      margin-top: -15%;
      position: relative;
      padding: 0;
      padding-top: 0px;
      padding-bottom: 100px;
      justify-content: center;
      display: block;
      flex-wrap: wrap;
      overflow-x: hidden;
    }

    #armas_h1{
      font-size: 25px;
      margin-top: -10%;
      margin-left: 10%;
      overflow-x: hidden;
      width: 50%;
    }

    .conheça_armas a{
      margin-left: 10%;
      overflow-x: hidden;
    }

    #armas_p{
      font-size: 13px;
      width: 80%;
      overflow-x: hidden;
    }
    #img_armas{
      padding-top: 0px;
      width: 250px;
      margin-top: 25%;
      z-index: 2;
      margin-left: 20px;
      position: relative;
      float: none;
      overflow-x: hidden;
    }
      

    /*Categorias responsividade*/

  .conteiner_categorias{
    width: 100%;
    flex-direction: column;
    overflow-x: hidden;
  }

  .categorias a img{
    width: 250px;
    overflow-x: hidden;
  }

  .categorias h1{
    font-size: 20px;
    overflow-x: hidden;
  }




      

    /*armas responsividade*/

    .nomenclaturas_btn{
      position: fixed;
      padding: 10px;
    }

    .kits_armas{
      padding-bottom: 15px;
    }

    .armas_introdução img{
      margin-top: auto;
      margin-bottom: auto;
      width: 150px;
      height: 150px;
    }

    .armas_introdução p{
      width: 80%;
    }

    .ataques_conteiner{
      width: 100%;
      text-align: center;
    }

    .ataques_conteiner h1{
      text-align: none;
      margin-left: 0px;
    }

    .ataques_conteiner img{
      width: 80%;
      margin: 0;
      
    }

    .ataques_gs img{
      width: 380px;
    }

    /*Avatares RESPONSIVIDADE*/

  .avatar_conteiner{
    position: relative;
    padding: 30px;

  }

  .avatar_conteiner h1{
    padding-top: 50px;
    width: 100%;
  }

  .avatar_conteiner img{
    width: 13%;
    padding: 0px;
    padding-top: 50px ;
  }

    /*PATCH RESPONSIVIDADE*/

    .patch_conteiner{
      padding: 20px;
      padding-top: 80px;
    }

    .patch_conteiner img{
      width: 100%;
    }

    
  }

  /*CORES RESPONSIVIDADE*/

  #titulo_das_cores{
    font-size: 15px;
    overflow-x: hidden;
  }

  #p_das_cores{
    text-align: center;
    position: relative;
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    padding-top: 50px;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 12px;
    overflow-x: hidden;
  }

  .cores{
    text-align: center;
  }

  .conteiner_cores{
    margin: 0;
    padding: 0;
  }

 

  /*SIDEKICKS RESPONSIVIDADE*/

  #titulo_dos_sidekicks{
    font-size: 20px;
  }

  #p_dos_sidekicks{
    text-align: center;
    position: relative;
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    padding-top: 50px;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
  }

  .conteiner_sidekicks{
    padding: 0;
    text-align: center;
  }

  .sidekicks{
    flex-direction: column;
    margin: 0;
    padding: 20px;
  }





  /*FOOTER*/

  .footer{
    background-color: #121213;
    width: 100%;
    height:100%;
    float: left;
    font-size: 18px;
    justify-items: center;
    justify-content: center;
    display: flex;
    
  }
  .footer .left{ 
    width:90%; 
    float:left; 
    border-bottom:0px #222424 solid;
    border-right:0; 
    margin-bottom:20px; 
    padding-bottom:20px;
  }
  .footer .title-footer {
    color: #8273ac;
    font-family: 'DM Sans', sans-serif;
    font-weight: initial;
    font-size:26px;
    width:100%;
    margin-bottom:15px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }
  .footer .title-footer span{
    color:  #2fcacf;
    font-family:'DM Sans', sans-serif;
    font-weight: bold;
  }
  
  .footer .Copyright{
    font-family:'DM Sans', sans-serif;
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
  }
 
 
  /*Responsive*/
  @media (min-width: 1280px) {
    .footer               { padding: 100px 50px 50px 100px; }
    .footer .Copyright    { font-size: 12px; }
    .footer form input,
    .footer form textarea { width: 100%; float:left; }
    .footer form button   { padding: 10px 35px; }
    
  }
  @media (min-width: 768px) {
    
    .footer .left         { width:100%; border-bottom:0; margin: 0px; padding: 0px; }
    .footer .right        { width:100%; padding-left: 0%; border-left: 0px #222424 solid; } 
    .footer form          { margin-top: 30px; }
    .footer form          { display: block ; }
    .footer form button   { float: none; }
    
  }
 


 
  